.bannerSearch {
    align-self: flex-end;
    align-items: center;
    border-bottom: 1px solid #f1efee;
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 1.25em;
    padding-bottom: .25vw;
    width: 50%;
}

.dropdown {
    background: none !important;
    border: none !important;
    color: white !important;
    width: 80%;
}

.bannerBody {
    width: 70%;
    height: 100%;
}

.searchIcon {
    cursor: pointer;
    width: 20%;
    transition: color .15s ease-in;
}

.searchIcon:hover{
    color: rgba(191,191,191,.87);
    transition: color .15s ease-in;
}

.bannerLinks{
    align-self: flex-end;
    align-items: space-between;
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.bannerLink{
    color: white;
    margin-top: 1vw;
    padding-bottom: .25vw;
    border-bottom: 1px solid white;
}

.bannerVideo {
    object-fit: cover;
    filter: blur(5px) brightness(60%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bannerContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 400px;
}

.bannerSlogan,
.bannerKeyword {
    color: white !important;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
}

.bannerSlogan {
    align-self: flex-start;
    font-size: 1.5em;
    margin: 0;
    letter-spacing: .5em;
}

.bannerKeyword {
    border: 1px solid white;
    transition: all .2s ease;
    font-size: 3.5em;
    letter-spacing: .5em;
    padding: 1.5em 2em;
    margin: 1.5vw 0;
}




@media only screen and (max-width: 800px) {
    .bannerContent {
        align-items: unset;
        justify-content: center;
        width: 100%;
        margin-right: 0px;
    }
    .bannerKeyword {
        font-size: 1.25rem;
        margin: 2rem 0;
    }
    .bannerBody{
        width: 100%;
    }
    .bannerTransition{
        width: 90%;
        margin: 0 auto;
    }
    .bannerSearch {
        position: absolute;
        bottom: 5%;
        width: 90%;
        margin: 0 auto;
        font-size: 1em;
    }
    .bannerSlogan {
        font-size: 1.1em;
        letter-spacing: .5em;
    }
}