.wrapper{
    display: flex !important;
    position: relative;
    height: 100%;
}

.newsCard {
    background-color: white;
    cursor: pointer;
    display: flex !important;
    position: relative;
    height: 100%;
    transition: transform .15s ease-in-out;
    box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
}

.newsOverlay{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    flex-direction :column;
    color: white;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #37474F;
    z-index: 1;
    transform: translateX(-100%);
    transition: transform 0.5s cubic-bezier(.55, 0, .1, 1);
}

.newsLink{
    color: white;
    letter-spacing: 2px;
}

.newsCard:hover > .newsImg > .newsOverlay{
    transition: transform 0.5s cubic-bezier(.55, 0, .1, 1);
    transform: translateX(0%);
}

.newsCard:hover {
    transform: translateY(-1%);
    transition: transform .15s ease-in-out;
}

.newsImg {
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 40%;
    position: relative;
    overflow: hidden;
}

.newsCategory {
    background-color: white;
    position: absolute;
    padding: .5vw;
    top: 0;
    left: 0;
    z-index: 1;
}

.newsTitle {
    font-weight: bold;
}

.newsDesc {
    text-align: justify;
    color: #808080;
    margin: .5vw 0;
}

.newsDate {
    font-weight: bolder;
}

.newsInfo {
    padding: 1vw;
    width: 60%;
    z-index: 1;
}

.arrowUp {
    position: absolute;
    top: 0;
    left: 45%;
    background-color: white;
    width: 40px;
    height: 40px;
    transform: rotateZ(45deg) translateX(-10px) translateY(-10px);
}

.arrowDown {
    position: absolute;
    bottom: 0;
    left: 45%;
    background-color: white;
    width: 40px;
    height: 40px;
    transform: rotateZ(45deg) translateX(10px) translateY(10px);
    box-shadow: 6px 6px 10px -4px rgba(0,0,0,.15);
}
