.newsCard{
    background-color:white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.newsCard::after{
    content: " ";
    background-color:#273746;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    transition: opacity .2s ease;
    height: 100%;
    z-index: 100;
}

.newsCard:hover::after{
    opacity: .1;
    transition: opacity .2s ease;
}

.newsImg{
    background-size: cover;
    background-position: center;
    height: 17.5vw;
    position: relative;
}

.newsCategory{
    background-color: white;
    position: absolute;
    padding: .5vw;
    top: 0;
    left: 0;
    z-index: 1;
}

.newsDesc{
    font-size: .85em;
    text-align: justify;
    margin: .5vw 0;
}

.newsDate{
    font-weight: bolder;
}

.newsInfo{
    padding: .5vw;
}

.arrowContainer{
    box-sizing: border-box;
    position: absolute;
    top: 40%;
    right: 0;
    height: 2.5vw;
    width: 2.5vw;
    transform: translateX(100%);
    padding: .5vw;
    overflow: hidden;
}

.newsCard:hover > .arrowContainer > .newsArrow{
    transform: translateX(0%) rotate(45deg);
    transition: transform .25s ease;
}

.newsArrow{
    height: 100%;
    width: 100%;
    border-top: 2px solid #263238;
    border-right: 2px solid #263238;
    transform: translateX(-175%) rotate(45deg);
    transition: transform .25s ease;
}