.newsCard {
    background-color: white;
    cursor: pointer;
    display: flex !important;
    position: relative;
    height: 100%;
    transition: transform .15s ease-in-out;
}

.newsCard::after {
    content: " ";
    background-color: #273746;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    transition: opacity .2s ease;
    height: 100%;
    z-index: 1;
}

.newsCard:hover {
    transform: translateX(1%);
    transition: transform .15s ease-in-out;
}

.newsCard:hover::after {
    opacity: .1;
    transition: all .2s ease;
}

.newsImg {
    background-size: cover;
    background-position: center;
    filter: brightness(80%);
    height: 100%;
    width: 40%;
    position: relative;
}

.newsCategory {
    background-color: white;
    position: absolute;
    padding: .5vw;
    top: 0;
    left: 0;
    z-index: 1;
}

.newsTitle {
    font-weight: bold;
}

.newsDesc {
    text-align: justify;
    color: #808080;
    margin: .5vw 0;
}

.newsDate {
    font-weight: bolder;
}

.newsInfo {
    padding: 1vw;
    width: 60%;
    z-index: 1;
}

.arrowUp {
    position: absolute;
    top: 0;
    left: 45%;
    background-color: white;
    width: 40px;
    height: 40px;
    transform: rotateZ(45deg) translateX(-10px) translateY(-10px);
}

.arrowDown {
    position: absolute;
    bottom: 0;
    left: 45%;
    background-color: white;
    width: 40px;
    height: 40px;
    transform: rotateZ(45deg) translateX(10px) translateY(10px);
}
