.navbar {
    border-right: 1px solid #ececec;
    background-color: white;
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 15vw;
    z-index: 1000;
    list-style: none;
}

#headbar {
    box-sizing: border-box;
    border-bottom: 1px solid #ececec;
    background-color: white;
    display: flex;
    align-items: center;
    height: 5vw;
    width: 100%;
    grid-area: headbar;
    padding-left: 1.5vw;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.headbarIcon {
    font-size: 1.5vw;
}

.logoContainer {
    border-bottom: 1px solid #ececec;
    box-sizing: border-box;
    padding: .5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 75%;
    height: 75%;
}

.navbarContainer {
    padding: 1.25vw;
}

.navbarItem {
    align-items: center;
    color: #B2B2B2;
    display: flex;
    flex-direction: row;
    font-size: 1vw;
    padding: 1vw;
}

.navbarLink {
    transition: color .25s ease;
    margin-right: 2vw;
}

.navbarIcon {
    color: #2C3E50;
    margin-right: 2vw;
    width: 10%;
}

.navbarBorder {
    height: 1px;
    width: 100%;
    background-color: #ececec;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: transform .25s ease;
}

.navbarItem:hover>.navbarBorder {
    transform: scaleX(1);
    transition: transform .25s ease;
}

.navbarItem:hover>.navbarLink {
    color: #373737;
    transition: color .25s ease;
}

.logout {
    cursor: pointer;
    color: #e91e63 !important;
}
