.staticPage {
    margin-left: 100px;
}

.noBanner {
    height: 30em;
}

.fullBanner {
    position: fixed;
    background-size: cover;
    filter: sepia(40%) brightness(70%);
    height: 100%;
    right: 0;
    width: 17.5%;
    z-index: -1;
}

.bannerPhoto {
    background-size: cover;
    background-attachment: fixed;
    filter: sepia(40%) brightness(70%);
    height: 30em;
    padding: 2.5vw 10vw;
    width: 100%;
    z-index: -1;
}

.pageLeftColumn {
    align-items: flex-end;
    border-right: 2px solid whitesmoke;
    display: flex;
    flex-direction: column;
    margin-top: 10vw;
    padding-left: 3vw;
    float: left;
    width: 25%;
}

.pageGallery {
    background: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1vw;
    margin-top: 5em;
    padding: 1vw;
}

.pageContainer {
    background: white;
    display: inline-block;
    float: left;
    padding: 2.5vw;
    width: 75%;
}
