.staticPage{
    position: relative;
    margin-left: 250px;
}

.pageTitle{
    font-weight: bold;
    font-size: 2.85em;
    margin-bottom: 1em;
}

.pageTitle::after{
    background-color: #37474F ;
    content: "";
    width: 10%;
    height: 2px;
}

.bannerPhoto{
    align-items: flex-end;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    filter:sepia(40%);
    height: 25em;
    top: 0;
    padding: 2.5vw 10vw;
    width: 100%;
    z-index: -1;
}

.pageCategory{
    font-size: 2.25em;
    margin: 0;
}

.pageContent{
    background-color: whitesmoke;
    padding: 2.5vw 10vw;
}

.pageFooter{
    background-color: white;
    display: flex;
    font-size: .85em;
    justify-content: space-between;
    padding: 1.5vw;
    width: 100%;
}


