.news {
    background-color: whitesmoke;
    overflow-x: scroll !important;
    white-space: nowrap;
    margin-left: 100px;
    padding: 1rem;
}

.newsWrapper {
    width: 450px;
    height: 100%;
    display: inline-block;
    white-space: normal;
}

.newsContainer {
    display: -ms-grid;
    display: grid;
    height: 100%;
        grid-template-areas: "upperGrid" "newsDate" "lowerGrid";
    -ms-grid-rows: 1fr .5fr 1fr;
    grid-template-rows: 1fr .5fr 1fr;
}

.dateContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: -webkit-fill-available;
    width: -moz-available;
    width: stretch;
    margin: 0;
    width: 60%;
    color: #37474F;
}

.date {
    font-size: 1.2rem;
    font-weight: bold;
}

.location {
    padding-top: .5rem;
    font-size: 1.1rem;
}

.dateBorder {
    height: 3px;
    background: #DEDEDE;
    width: 20%;
}

.newsDate {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-area: newsDate;
    justify-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}


.upperGrid {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: upperGrid;
}

.lowerGrid {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: lowerGrid;
}


@media only screen and (max-width: 800px) {
    .news {
        margin-left: 0;
        white-space: normal;
    }

    .newsContainer {
        display: -ms-grid;
        display: grid;
        height: 100%;
            grid-template-areas: "upperGrid" "newsDate";
        -ms-grid-rows: 1fr .5fr;
        grid-template-rows: 1fr .5fr;
    }

    .upperGrid {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        grid-area: upperGrid;
    }

    .lowerGrid {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        grid-area: upperGrid;
    }

    .newsWrapper {
        width:100%;
        height: 100%;
    }

    .newsDate {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }

    .upperGrid {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
}


@media only screen and (max-width: 800px) {

    .upperGrid {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .lowerGrid {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
}