.importantTransition {
    font-size: 1em;
    color: white;
    top: 0;
    left: 100px;
    position: fixed;
    z-index: 100;
}

.importantNews {
    background: #e91e63;
    padding: .5vw 1vw;
    display: flex;
    flex-direction: column;
}

.importantTitle {
    font-weight: bold;
    padding-bottom: 1vw;
    border-bottom: 2px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.important {
    margin-bottom: .5vw;
    display: flex;
    justify-content: space-between;
}

.importantLink {
    color: white !important;
    margin-left: 1vw;
    font-weight: bold;
}

.closeBtn {
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.importantLink:hover,
.closeBtn:hover {
    color: #bababc !important;
}
