.importantTransition {
    font-size: 1em;
    color: white;
    top: 0;
    left: 100px;
    position: fixed;
    z-index: 100;
}

.importantNews {
    background: #e91e63;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.importantTitle {
    font-weight: bold;
    padding-bottom: 1rem;
    border-bottom: 2px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.important {
    margin-bottom: .5rem;
    display: flex;
    justify-content: space-between;
}

.importantLink {
    color: white !important;
    margin-left: 1rem;
    font-weight: bold;
}

.closeBtn {
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.importantLink:hover,
.closeBtn:hover {
    color: #bababc !important;
}


@media only screen and (max-width: 800px) {
    .importantTransition {
        top: 0;
        left: 0;
        width: 100%;
        font-size: .8em;
    }
}