#navbar {
    position: fixed;
    top: 0;
    box-shadow: 5px 0 15px #37474f24;
    font-family: 'Oswald', sans-serif;
    left: 0;
    display: flex;
    grid-area: navbar;
    z-index: 1000;
}

#navbarPrimary {
    background-color: #f0eeed;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100px;
}

#navbarSecondary {
    background-image: linear-gradient(to right, #37474f, #394950, #3b4b52, #3e4d53, #404f55);
    box-sizing: border-box;
    position: fixed;
    color: whitesmoke;
    height: 100%;
    width: 325px;
    transition: all .5s ease;
    transform: translateX(-225px);
    overflow-y: auto;
}

#navbarSecondary::-webkit-scrollbar {
    background: #37474F;
}

#navbarSecondary::-webkit-scrollbar-thumb {
    background: whitesmoke;
    border-radius: 0;
}

.primaryLink {
    color: #37474F;
}

.navbarLogo {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 20%;
    width: 100%;
    padding: 1vw;
}

.navIcon {
    pointer-events: none;
}

.navbarContent {
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    list-style: none;
}

.navbarItem {
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-size: .9em;
    padding: 1.5em;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #e3dcd8;
    text-transform: uppercase;
    transition: all .2s ease;
}

.navbarContentTitle {
    box-sizing: border-box;
    font-size: 1.50em;
    padding: 3vw 1vw;
}

.secondaryContent {
    display: none;
    margin: 0;
    flex-direction: column;
    padding: 0;
    list-style: none;
}

.secondaryLink {
    vertical-align: center;
    box-sizing: border-box;
    display: inline-block;
    color: inherit;
    font-weight: 100;
    margin: 1.4vw 1vw;
    transition: all .5s ease;
    position: relative;
}

.secondaryLink::after{
    content: " ";
    height: 2px;
    background: white;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform-origin: right center;
    transform: scaleX(0);
	transition: transform 0.5s cubic-bezier(.55, 0, .1, 1);
}

.secondaryLink:hover::after{
    transition: transform .35s ease;
    transform-origin: left center;
    transform: scaleX(1);
}


@media only screen and (max-width: 800px) {
    #navbar{
        display: none !important;
    }
  }