.btnTop {
    cursor: pointer;
    position: fixed;
    text-align: center;
    padding: .5vw;
    border-radius: 50%;
    bottom: 2vw;
    background: #37474F;
    color: whitesmoke;
    font-size: 1vw;
    right: 2vw;
    z-index: 1;
    animation-name: bounce;
    animation-duration: 400ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.btnTop:hover {}

@keyframes bounce {
    0% {
        transform: translateY(-.2vw);
    }
    100% {
        transform: translateY(0vw);
    }
}
