.pieCharts{
    display: grid;
    grid-template-columns: repeat(3, .333fr);
    grid-gap: 2vw;
    margin-bottom: 2vw;
}

.barCharts{
    display: grid;
    grid-template-columns: .5fr .5fr;
    grid-gap: 2vw;
}

.schedule{
    width: 30%;
}