.news{
    background-color: whitesmoke;
    margin-left: 100px;
}

.newsBody{
    display: grid;
    grid-template-areas: ". newsContent newsContent latestNews latestNews"
                         ". newsContent newsContent . ."
                         "newsFile newsFile . . ."
                         "newsImgGallery newsImgGallery newsImgGallery . .";
    grid-template-columns: .25fr 2fr .25fr .75fr .25fr;
    padding: 2rem 0;
    padding-left: 1rem;
    padding-right: 5rem;
}

.newsBanner{
    align-items: flex-end;
    grid-area: newsBanner;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    height: 25rem;
    filter:sepia(40%) brightness(70%);
}

.newsContent{
    grid-area: newsContent;
    padding: 3rem;
}

.newsImgGallery, .newsContent, .newsFile{
    background: white;
    transform: translateY(-10rem);
}

.latestNews{
    grid-area: latestNews;
    border-left: 2px solid whitesmoke;
}

.newsImgGallery{
    border-top: 2px solid whitesmoke;
    display: grid;
    grid-area: newsImgGallery;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 1rem;
    padding: 1rem;
    margin-right: 2rem;
}

.newsFile{
    border-top: 2px solid whitesmoke;
    grid-area: newsFile;
    padding: 2rem;
}


@media only screen and (max-width: 800px) {
    .news{
        margin-left:0;
    }

    .newsBody{
        display: grid;
        grid-template-areas: ". newsContent newsContent newsContent ."
                             ". newsContent newsContent newsContent ."
                             ". latestNews latestNews latestNews ."
                             ". newsFile newsFile newsFile  ."
                             ". newsImgGallery newsImgGallery newsImgGallery .";
        grid-template-columns: .25fr 2fr .25fr .75fr .25fr;
        padding: 0;
    }
}