.editNewsImg{
    align-self: stretch;
    grid-area: editNewsImg;
    height: 35vw;
    position: relative;
}

.editNews{
    align-items: center;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: auto auto auto auto 4fr auto;
    grid-template-areas: "editNewsImg titleInput titleInput"
                         "editNewsImg categoryInput importantGroup"
                         "editNewsImg datepublishedGroup datedueGroup"
                         "editNewsImg imageInput documentInput"
                         "editNewsImg descriptionInput descriptionInput"
                         "editNewsImg cancel confirm";
    grid-gap: 1vw;
}

.fileInput{
    grid-area: fileInput;
}

.validateInput{
    grid-area: validateInput;
}

.fileLabel:hover{
    cursor: pointer;    
}

.fileLabel{
    border: 1px solid #2196f3;
    color: #2196f3;
    display: inline-block;
    font-size: 1vw;
    padding: .5vw;
}

.titleInput{
    grid-area: titleInput;
}

.categoryInput{
    grid-area: categoryInput;
}

.labelGroup{
    margin: 0vw .5vw;
}

.datedueGroup{
    grid-area: datedueGroup;
}

.datedueInput{
    grid-area: datedueInput;
}

.datedueCheckbox{
    grid-area: datedueCheckbox;
}

.datepublishedGroup{
    grid-area: datepublishedGroup;
}

.datepublishedInput{
    grid-area: datepublishedInput;
}

.imageInput{
    grid-area: imageInput;
}

.documentInput{
    grid-area: documentInput;
}

.descriptionInput{
    align-self: stretch;
    grid-area: descriptionInput;
}

.importantGroup{
    grid-area: importantGroup;
}

.importantInput{
    grid-area: importantInput;
}

.inputGroup{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

