.menuTitle {
    color: #37474F;
    border: 1px solid rgba(34, 36, 38, .15);
    border-radius: .2vw;
    cursor: pointer;
    margin: .5vw 0;
    padding: .5vw;
}

.accordionTitle {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: .9rem;
}

.accordionContent{
    margin-bottom: .75vw;
    cursor: pointer;
    font-size: .95rem;
    transition: color .2s ease;
}

.accordionContent:hover{
    color:  #bcbdbd;
    transition: color .2s ease;
}