.pagesCard{
    border: 2px solid rgba(34,36,38,.15);
    cursor: pointer;
    margin: .5vw 0 ;
    padding: .5vw;
}

.pagesCard > h4{
    transition: transform .15s ease;
}

.pagesCard:hover > h4{
    transform: translateX(1.5%);
    transition: transform .15s ease;
}

.pagesSubmit{
    grid-area: pagesSubmit;
    width: 60%;
}

.pagesDelete{
    grid-area: pagesDelete;
    width: 60%;
}
