.headbar{
    align-items: center;
    background-color: white;
    height: 5vw;
    position: fixed;
    padding: .5vw;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 100;
}

.userInfo{
    margin-left: 15vw;
}