.pageImgGallery{
    display: block;
    cursor: pointer;
    object-fit: cover;
    filter: sepia(50%);
    height: 17.5vw;
    transition: filter .2s ease-in-out
}

.pageImgGallery:hover{
    filter: sepia(0);
    transition: filter .2s ease-in-out
}
