.membersCard {
    background-color: white;
    display: grid;
    grid-template-rows: 25vw;
    grid-template-columns: .35fr .65fr;
    position: relative;
    text-align: justify;
    width: 65%;
}

.membersCardInverse {
    background-color: white;
    display: grid;
    grid-template-rows: 25vw;
    grid-template-columns: .65fr .35fr;
    text-align: justify;
    position: relative;
    width: 65%;
    margin-left: auto;
    /*transform: translateY(-2vw);*/
}

.membersPhone,
.membersEmail {
    display: flex;
    justify-content: space-between;
    padding: .5vw 0;
}

.membersContact {
    align-self: flex-end;
}

.membersTitle {
    font-size: 1.5vw;
}

.membersName {
    font-size: 2vw;
    font-weight: bold;
    margin: .5vw 0;
}

.membersInfo {
    padding: 1.5vw;
    display: grid;
    flex-direction: column;
    justify-content: space-evenly;
}
