.membersCard {
    background-color: white;
    display: grid;
    grid-template-columns: .35fr .65fr;
    position: relative;
    text-align: justify;
    margin-bottom: 2rem;
    width: 65%;
}

.membersCardInverse {
    background-color: white;
    display: grid;
    grid-template-columns: .65fr .35fr;
    text-align: justify;
    position: relative;
    margin-bottom: 2rem;
    width: 65%;
    margin-left: auto;
    /*transform: translateY(-2rem);*/
}

.membersPhone,
.membersEmail {
    display: flex;
    justify-content: space-between;
    padding: .5rem 0;
}

.membersContact {
    align-self: flex-end;
    width: 100%;
}

.membersTitle {
    font-size: 1.5rem;
}

.membersName {
    font-size: 2rem;
    font-weight: bold;
    margin: .5rem 0;
}

.membersInfo {
    padding: 1.5rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr;
    flex-direction: column;
    justify-content: space-evenly;
}
