.usersStats{
    width: 100%;
    padding: 1vw;
}

.pieCharts{
    display: grid;
    grid-template-columns: repeat(3, .333fr);
    grid-gap: 2vw;
    margin-bottom: 2vw;
}

.barCharts{
    display: grid;
    grid-template-columns: .5fr .5fr;
    grid-gap: 2vw;
}

.statsHeader{
    margin-bottom: .25vw;
    border-left: 4px solid #bababc;
    padding-left: .5vw;
}

.statsMetrics{
    margin: 0;
}

.statsDimensions{
    margin: 0;
}

.statsCard{
    /*padding: .5vw;*/
    min-width: 100%;
    max-width: 100%;
    /*box-shadow: 0.2vw 0.2vw 0.5vw #D4D4D4;*/
}

.usersStats{
    display: flex;
    flex-direction: column;
    background: white;
    padding: .75vw;
}