.news {
    background-color: whitesmoke;
    overflow-x: scroll !important;
    white-space: nowrap;
    margin-left: 100px;
    padding: 1vw;
}

.newsWrapper {
    width: 450px;
    height: 100%;
    display: inline-block;
    white-space: normal;
}

.newsContainer {
    display: grid;
    height: 100%;
    grid-template-areas: "upperGrid" "newsDate" "lowerGrid";
    grid-template-rows: 1fr .5fr 1fr;
}

.arrowLeft {
    width: 25px;
    height: 25px;
    border-right: 3px solid #DEDEDE;
    border-top: 3px solid #DEDEDE;
    transform: rotate(45deg);
}

.dateContainer {
    display: flex;
    flex-direction: column;
    width: stretch;
    margin: 0;
    width: 60%;
    color: #37474F;
}

.date {
    font-size: 1.1vw;
    font-weight: bold;
}

.location {
    padding-top: .5vw;
    font-size: .9vw;
}

.dateBorder {
    height: 3px;
    background: #DEDEDE;
    width: 20%;
}

.newsDate {
    align-self: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    grid-area: newsDate;
    justify-self: center;
    display: flex;
    width: 100%;
}


.upperGrid {
    grid-area: upperGrid;
}

.lowerGrid {
    grid-area: lowerGrid;
}
