.loginContainer{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 10vw;
    width: 40%;
}

.loginFormContainer{
    width: 80%;
    margin: 0 auto;
}

.loginImage{
    width: 75%;
    margin: 0 auto;
}

.loginLabel{
}

.loginTitle{
    margin: .5vw 0;
}

.loginBack{
    position: fixed;
    bottom: 1vw;
    left: 1vw;
}

.loginForm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.loginBtn{
    float: right;
}

.login{
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    height: stretch;
    width: 20%;
}

.login:before{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content : " ";
    background: whitesmoke;
    opacity: .95;
    z-index: -1;
}

.loginBg{
    width: 100%;
    height: stretch;
    position: fixed;
    top: 0;
    left: 0;
}