.loginBack{
    position: fixed;
    bottom: 1vw;
    left: 1vw;
}

.loginForm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.login{
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    height: stretch;
    padding: 0 2.5vw;
    width: 20%;
}

.login:before{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content : " ";
    background: whitesmoke;
    opacity: .95;
    z-index: -1;
}

.loginBg{
    width: 100%;
    height: stretch;
    position: fixed;
    top: 0;
    filter: brightness(75%);
    left: 0;
}