.news{
    align-items: left;
    border: 2px solid #ececec;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    transition: transform .25s ease;
    justify-content: space-between;
    text-align: left;
}

.news:hover .newsBtn{
    cursor: pointer;
    transform: translateX(0%);
    transition: transform .25s ease;
}

.news:hover::after{
    opacity: .5;
}

.newsImportant{
    background-color: #e91e63;
    color: white;
    padding: .5vw;
    position: absolute;
    top: 0;
    left: 0;
}

.newsBtn{
    border: none;
    color: white;
    padding: 1vw;
    position: absolute;
    top: 0;
    transition: transform .25s ease;
    z-index: 100;
}

.newsEdit{
    background-color: #ff9800;
    left: 0;
    transform: translateX(-110%);
}

.newsDelete{
    background-color: #e91e63;
    right: 0;
    transform: translateX(110%);
}

.newsTitle{
    color: #6A6A6A;
    margin: 0;
}

.newsTitle, .newsDate, .newsCategory{
    margin-top: .25vw;
    margin-left: .25vw;
}

.newsCategory{
    color: #6A6A6A;
    font-weight: bold;
}

.newsDate{
    color: #2980B9;
}

.newsDesc{
    color: #6A6A6A;
    grid-area: newsDesc;
}

.newsImg{
    height: 15vw;
    grid-area: newsImg;
}
