.news{
    height: 100%;
    position: relative;
    cursor: pointer;
}

.news:hover .newsBtn{
    cursor: pointer;
    transform: translateX(0%);
    transition: transform .25s ease;
}

.news:hover::after{
    opacity: .5;
}

.newsImportant{
    background-color: #e91e63;
    color: white;
    padding: .5vw;
    position: absolute;
    top: 0;
    left: 0;
}

.newsImg{
    object-fit: cover;
    height: 10vw;
    width: 100%
}
