.news{
    align-items: left;
    display: flex;
    height: 100%;
    overflow: hidden;
    transition: transform .25s ease;
    justify-content: space-between;
    text-align: left;
}

.news:hover .newsBtn{
    cursor: pointer;
    transform: translateX(0%);
    transition: transform .25s ease;
}

.news:hover::after{
    opacity: .5;
}

.newsImportant{
    background-color: #e91e63;
    color: white;
    padding: .5vw;
    position: absolute;
    top: 0;
    left: 0;
}

.newsInfo{
    border: 1px solid rgba(34,36,38,.15);
    border-radius: .2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .5vw;
    width: 100%;
}

.newsImg{
    object-fit: cover;
    width: 25vw;
}
