.adminPage{
    background-color: whitesmoke;
    margin-top: 5vw;
    margin-left: 15vw;
}

.sectionContainer{
    align-items: center;
    background-color: white;
    box-sizing: border-box;
    box-shadow: .2vw .2vw .5vw #D4D4D4;
    padding: 1vw;
    display: grid;
    grid-template-columns: 3fr auto;
    grid-template-rows: auto 3fr;
    grid-template-areas: "sectionTitle sectionBtn"
                         "sectionContent sectionContent";
    grid-gap: 1vw 2.5vw;
}

.sectionTitle{
    border-bottom: 2px solid #ececec;
    font-size: 1.25vw;
    padding-bottom: 1vw;
    margin-bottom: 1vw;
    grid-area: sectionTitle;
}

.sectionBtn{
    grid-area: sectionBtn;
}

.sectionContent{
    grid-area: sectionContent;
}
