.newsBody {
    margin-left: 100px;
    margin-top: 3rem;
    overflow: auto;
    overflow-x: scroll;
    white-space: nowrap;
    flex-wrap: nowrap;
    display: flex;
    box-sizing: border-box;
    min-height: stretch;
}

.scrollMobile{
    display: none;
}

.newsDescription{
    margin-left: 3rem;
}

.newsWrapper {
    box-sizing: border-box;
    flex: 0 0 33%;
    width: 450px;
    height: 100%;
    white-space: normal;
    margin-right: 3rem;
}

@media only screen and (max-width: 800px) {
    .newsBody, .newsDescription {
        margin-left: 0;
    }
    .scrollMobile{
        display: inline;
    }
    .scrollWeb{
        display: none;
    }
    .newsWrapper{
        width: 100%;
    }
    .newsBody {
        white-space: normal;
        flex-wrap: normal;
        display: block;
    }
}