.actionBtn{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vw;
}

.newsContainer{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 22vw;
    grid-gap: 1.5vw;
    position: relative;
}