.contactBody {
    background: whitesmoke;
    margin-left: 100px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 25rem 1.5rem auto;
    grid-template-rows: 25rem auto;
    -ms-grid-columns: .5fr 1.5rem .5fr;
    grid-template-columns: .5fr .5fr;
        grid-template-areas: "map map " "info form" "footer footer ";
    grid-gap: 1.5rem;
}

.map {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    position: relative;
    grid-area: map;
}

.info {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    margin-left: 4rem;
    grid-area: info;
    -webkit-transform: translateY(-7.5rem);
        -ms-transform: translateY(-7.5rem);
            transform: translateY(-7.5rem);
}

.form {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    margin-right: 4rem;
    grid-area: form;
}

.footer {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: footer;
}



@media only screen and (max-width: 800px) {
    .contactBody {
        margin-left: 0;
        display: block;
    }

    .map {
        height: 25rem;
    }
    .info{
        -webkit-transform: unset;
            -ms-transform: unset;
                transform: unset;
    }

    .info, .form {
        margin: 0 0 5rem 0;
    }
}