.newsCard {
    cursor: pointer;
    height: 100%;
    display: flex;
}

.newsDate{
    align-items: center;
    background: #37474f;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 25%;
}

.newsCardInfo{
    width: 75%;
    display: inline-block;
}
