.wrapper{
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    position: relative;
    height: 100%;
}

.newsCard {
    background-color: white;
    cursor: pointer;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    position: relative;
    height: 100%;
    -webkit-transition: -webkit-transform .15s ease-in-out;
    transition: -webkit-transform .15s ease-in-out;
    -o-transition: transform .15s ease-in-out;
    transition: transform .15s ease-in-out;
    transition: transform .15s ease-in-out, -webkit-transform .15s ease-in-out;
    -webkit-box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
            box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
}

.newsOverlay{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient :vertical;
    -webkit-box-direction :normal;
        -ms-flex-direction :column;
            flex-direction :column;
    color: white;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #37474F;
    z-index: 1;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(.55, 0, .1, 1);
    transition: -webkit-transform 0.5s cubic-bezier(.55, 0, .1, 1);
    -o-transition: transform 0.5s cubic-bezier(.55, 0, .1, 1);
    transition: transform 0.5s cubic-bezier(.55, 0, .1, 1);
    transition: transform 0.5s cubic-bezier(.55, 0, .1, 1), -webkit-transform 0.5s cubic-bezier(.55, 0, .1, 1);
}

.newsLink{
    color: white;
    letter-spacing: 2px;
}

.newsCard:hover > .newsImg > .newsOverlay{
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(.55, 0, .1, 1);
    transition: -webkit-transform 0.5s cubic-bezier(.55, 0, .1, 1);
    -o-transition: transform 0.5s cubic-bezier(.55, 0, .1, 1);
    transition: transform 0.5s cubic-bezier(.55, 0, .1, 1);
    transition: transform 0.5s cubic-bezier(.55, 0, .1, 1), -webkit-transform 0.5s cubic-bezier(.55, 0, .1, 1);
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
}

.newsCard:hover {
    -webkit-transform: translateY(-1%);
        -ms-transform: translateY(-1%);
            transform: translateY(-1%);
    -webkit-transition: -webkit-transform .15s ease-in-out;
    transition: -webkit-transform .15s ease-in-out;
    -o-transition: transform .15s ease-in-out;
    transition: transform .15s ease-in-out;
    transition: transform .15s ease-in-out, -webkit-transform .15s ease-in-out;
}

.newsImg {
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 40%;
    position: relative;
    overflow: hidden;
}

.newsCategory {
    background-color: white;
    position: absolute;
    padding: .5rem;
    top: 0;
    left: 0;
    z-index: 1;
}

.newsTitle {
    font-weight: bold;
}

.newsDesc {
    text-align: justify;
    color: #808080;
    margin: .5rem 0;
}

.newsDate {
    font-weight: bolder;
}

.newsInfo {
    padding: 1rem;
    width: 60%;
    z-index: 1;
}

.arrowUp {
    position: absolute;
    top: 0;
    left: 45%;
    background-color: white;
    width: 40px;
    height: 40px;
    -webkit-transform: rotateZ(45deg) translateX(-10px) translateY(-10px);
        -ms-transform: rotate(45deg) translateX(-10px) translateY(-10px);
            transform: rotateZ(45deg) translateX(-10px) translateY(-10px);
}

.arrowDown {
    position: absolute;
    bottom: 0;
    left: 45%;
    background-color: white;
    width: 40px;
    height: 40px;
    -webkit-transform: rotateZ(45deg) translateX(10px) translateY(10px);
        -ms-transform: rotate(45deg) translateX(10px) translateY(10px);
            transform: rotateZ(45deg) translateX(10px) translateY(10px);
    -webkit-box-shadow: 6px 6px 10px -4px rgba(0,0,0,.15);
            box-shadow: 6px 6px 10px -4px rgba(0,0,0,.15);
}


@media only screen and (max-width: 800px) {
    .arrowUp {
        top: 95%;
        -webkit-transform: rotateZ(45deg) translateX(10px) translateY(-10px);
            -ms-transform: rotate(45deg) translateX(10px) translateY(-10px);
                transform: rotateZ(45deg) translateX(10px) translateY(-10px);
        -webkit-box-shadow: 6px 6px 10px -4px rgba(0,0,0,.15);
                box-shadow: 6px 6px 10px -4px rgba(0,0,0,.15);
    }
}