#websiteContent{
    position: relative;
    margin-left: 100px;
}

#backgroundOverlay{
    content: " ";
    background-color: black;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index:100;
}

/*Css for the banner section*/
.banner{
    align-items: center;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
}

.bannerVideo{
    object-fit: fill;
    filter: blur(5px) brightness(60%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bannerContent{
    display: flex;
    flex-direction: column;
    margin-right: 400px;
}

.bannerSlogan, .bannerKeyword{
    color: white !important;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight:lighter;
}

.bannerSlogan{
    align-self: flex-start;
    font-size: 1.5em;
    margin: 0;
    letter-spacing: .5em;
}

.bannerKeyword{
    border: 1px solid white;
    font-size: 3.5em;
    letter-spacing: .5em;
    padding: 1.5em 2em;
    margin: 1.5vw 0;
}

.bannerSearch{
    align-self: flex-end;
    border-bottom: 1px solid #f1efee;
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 1.25em;
    padding-bottom: .25vw;
    width: 50%;
}

.bannerInput{
    background-color: transparent;
    border: none;
    color: white;
}

.bannerInput::placeholder{
    color: white;
}

.bannerInput:focus{
    outline: none;
}

.roundBtn{
    border: 2px solid #37474F;
    border-radius: 50%;
    box-sizing: border-box;
    padding: .2vw;
    text-align: center;
}

/*Css for the news Section*/

.newsSection{
    background: whitesmoke;
    position: fixed;
    right: 0;
    width: 400px;
}

.newsHeader, .newsCard{
    background: white;
    /*box-shadow: 0px 3px 8px #A4A4A4;*/
}


.newsCard{
    padding: 2vw 2.5vw;
}

.newsCard{
    text-align: left;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid whitesmoke;
}

.newsDate{
    color: #37474F;
    font-size: 1.25em;
    font-weight: 100;
}

.newsTitle{
    margin: 1.5vw 0;
}

.newsLink{
    align-self: flex-end;
    color: #37474F;
    font-size: 1.1em;
    transition: all .2s ease;
}