#websiteContent{
    position: relative;
    margin-left: 250px;
}

#bodyOverlay{
    background-color: #37474F;
    content: " ";
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity .4s ease;
}

/*Css for the banner section*/
.banner{
    align-items: center;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
}

.bannerVideo{
    object-fit: fill;
    filter: brightness(70%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bannerContent{
    display: flex;
    flex-direction: column;
}

.bannerSlogan, .bannerKeyword{
    color: white !important;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight:lighter;
}

.bannerSlogan{
    font-size: 2em;
    margin: 0;
}

.bannerKeyword{
    border: 2px solid white;
    font-size: 3.5em;
    letter-spacing: .25em;
    padding: .75em 2.5em;
    margin-bottom: 2em;
    margin-top: .1em;
}

.bannerSearch{
    display: flex;
}

.bannerInput{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #f1efee;
    width: 90%;
}

.bannerInput::placeholder{
    color: white;
}

.bannerInput:focus{
    outline: none;
}

.searchBtn{
    border: none;
    background-color: #f1efee;
    color:  #37474F;
    cursor: pointer;
    padding: .5vw .25vw;
    width: 10%;
}

/*Css for the news Section*/

.news{
    background-color: whitesmoke;
    padding: 0 5vw;
    padding-bottom: 5vw;
}

.newsContent{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 3.75vw 7.5vw;
}

.sectionTitle{
    background-color:  white;
    display: inline-block;
    padding: 1vw 1.5vw;
    margin: 1vw 0;
}


.title{
    margin: 0;
    width: 85%;
    font-weight: 100;
}

.titleBtn{
    background-color:  #263238;
    color: white;
    font-family: "Open sans", sans-serif;
    width: 15%;
    font-size: .6em;
    padding: .5vw;
}

.members{
    background-color: whitesmoke;
    padding: 0 5vw;
    padding-bottom: 5vw;
}

.membersContent{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 4vw;
}

.contact{
    background-color: whitesmoke;
    padding: 0 5vw;
    padding-bottom: 5vw;
}

.contactInfo{
    background-color: white;
    padding: .5vw;
}

.contactForm{
    background-color: white;
    padding: .5vw;
}