.news {
    margin-left: 100px;
    padding: 5vw;
    display: grid;
    grid-template-columns: .25fr .75fr;
}

.newsContainer {
    display: grid;
    grid-template-columns: .33fr .33fr .33fr;
    grid-gap: 2vw;
    background: white;
    padding: 2vw;
}


.newsCategory {
    border-left: 3px solid #37474F;
    padding-left: .5vw;
    font-weight: bold;
}

.newsHeader {
    align-self: flex-start;
    padding: 2vw;
    background: white;
    border-right: 2px solid whitesmoke;
    margin-top: 3vw;
}

