.active-navbar{
    transition: all 1s ease;
    background: #00b5ad;
    box-shadow: 0 12px 20px -10px rgba(0, 181, 173,.28), 0 4px 20px 0 rgba(0,0,0,.12), 0 7px 8px -5px rgba(0, 181, 173,.2);
}

.admin-page {
    background-color: whitesmoke;
    margin-left: 12.5vw;
    padding: 3vw;
    min-height: stretch;
    position: relative;
}


.section-row {
    display: flex;
    height: auto;
    width: 100%;
}

.anim-bounce-up{
    position: relative;
    cursor: pointer;
    transition: transform .15s;
    transition-timing-function: cubic-bezier(.36,.51,.28,1.55);
}

.anim-bounce-up:hover{
    transform: translateY(-.5vw);
    transition: transform .15s;
    transition-timing-function: cubic-bezier(.36,.51,.28,1.55);
}

.section-style {
    background-color: white;
    box-shadow: 0.2vw 0.2vw 0.5vw #D4D4D4;
    padding: 1em;
}

.section-left-column {
    width: 20%;
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}

.section-right-column {
    width: 80%;
    display: flex;
    position: relative;
    flex-direction: column;
}

.item-card {
    background: white;
    cursor: pointer;
    word-break: break-all;
    display: inline-block;
    padding: 1vw;
    position: relative;
    width: 100%;
    border: 1px solid whitesmoke;
    overflow: hidden;
    z-index: 1;
    transition: color .15s ease-in-out;
    letter-spacing: 1px;
}

.item-card:hover{
    color: white !important;
    transition: color .15s ease-in-out;
}

.item-card:hover:after {
    transition: transform .25s ease-in-out;
    transform: translateX(0%);
}

.item-card-shadow{
    cursor: pointer;
    border: 1px solid whitesmoke;
    text-align: center;
    letter-spacing: 1px;
    padding: 1vw;
}

.item-card-shadow:hover{
    box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
}

.item-card::after{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    background: #00b5ad;
    height: 100%;
    width: 100%;
    transform: translateX(-99%);
    transition: transform .25s ease-in-out;
    z-index: -1;
}
.component-card{
    align-self: flex-start;
    position: relative;
    background: white;
    box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
}

.tag-card{
    display: inline-block;
    box-sizing: border-box;
    background: whitesmoke;
    padding: .25vw .5vw;
}

.tag-important{
    background-color: #e91e63;
    color: white;
    padding: .5vw;
    position: absolute;
    top: 0;
    left: 0;
}

.new-dataset-btn{
    color: white;
    cursor: pointer;
    vertical-align: center;
    position: absolute;
    top: .5vw;
    right: .5vw;
    font-size: 1.1em;
    background-color: #00b5ad;
    display: flex;
    align-items: center;
    margin-bottom: 1vw;
    box-shadow: 0 12px 20px -10px rgba(0, 181, 173,.28), 0 4px 20px 0 rgba(0,0,0,.12), 0 7px 8px -5px rgba(0, 181, 173,.2);
}

.rounded-tl{
    border-radius: 0  12px 0 12px!important;
}

.rounded-tr{
    border-radius: 12px 0 12px 0 !important;
}

.rounded-left{
    border-radius: 12px 0 0 12px !important;
}

.rounded-right{
    border-radius: 0 12px 12px 0 !important;
}

.rounded{
    border-radius: 12px !important;
}

.rounded-more{
    border-radius: 24px !important;
}

.large-gutters{
    padding: 2.25vw;
}

.big-gutters{
    padding: 1.75vw;
}

.medium-gutters{
    padding: 1.25vw;
}

.small-gutters{
    padding: .75vw;
}

.small-spacing-bot{
    margin-bottom: .5vw;
}

.medium-spacing-bot{
    margin-bottom: .75vw;
}

.big-spacing-bot{
    margin-bottom: 1vw;
}

.img-fit{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.space-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.center-horizontaly{
    align-items: center;
}

.modal-opener{
    width: 100%;
}

.uploads-thumbnails {
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.uploads-thumbnails:hover {
    opacity: .7;
    cursor: pointer;
}

.uploads-container {
    display: grid;
    grid-auto-rows: 5rem;
    grid-template-columns: repeat(4, .25fr);
    margin-top: 2rem;
    width: 100%;
}

.uploads-file-extension {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
