@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Oswald');

/*Html Tag Overrides*/
table {
    color: #666;
    margin: .5vw 0;
    background: white;
    border-collapse: collapse;
    font-size: .9vw;
    max-width: 100%;
    box-shadow: .1vw .1vw 9px whitesmoke;
}

textarea{
    background: #fff !important;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15) !important;
    padding: 1em 1em !important;
    border-radius: .28571429rem !important;
    border: 1px solid rgba(34,36,38,.15) !important;
}

table td {
    padding: 1vw 1.5vw;
}

table tr {
    vertical-align: top;
    text-align: left;
    transition: all .2s ease;
    border-bottom: 2px solid whitesmoke;
    border-top: 2px solid whitesmoke;
}

tbody tr:first-child {
    border: none;
    font-weight: bold;
    border-radius: 10% 0%;
    background: white;
    color: #37474F;
}

tbody tr:first-child:hover {
    background: white;
    transform: translateX(0vw);
}

tbody tr:hover {
    box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
}

a {
    cursor: pointer;
    text-decoration: none;
    transition: color .15s ease-in;
}

a:hover {
    color: #a2b5bf;
    transition: color .15s ease-in;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #37474F;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2em;
    margin: 0;
    background: whitesmoke;
}

label {
    font-weight: 700 !important;
    text-transform: uppercase !important;
    font-size: .9rem !important;
    color: #4C4C4C !important;
    letter-spacing: .1rem !important;
}

img {
    max-width: 100%;
}

p {
    margin-bottom: 0;
    font-size: .85vw;
}


blockquote {
    border-left: 4px solid #ccc;
    padding-left: .5vw;
    margin: .3vw 0;
}

input[type=text]{
    color: white;
}

.ui.segment{
    margin: 0 !important;
}

.ui.transparent.input>input{
    padding: .25vw !important;
}

.ui.form .field.field input:-webkit-autofill{
    border: none !important;
    background: blue !important;
}

.blue{
}

.red{
    
}
.orange{
    
}
.yellow{
    
}
.olive{
    
}
.green{
    
}
.teal{
    
}
.blue{
    
}
.violet{
    
}
.purple{
    
}
.pink{
    
}
.brown{
    
}
.grey{
    
}
.black{
    
}


.dropdown.icon {
    z-index: 10 !important;
}

.ui.dropdown,
.ui.checkbox,
.ui.input {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.ui.fullscreen.modal {
    left: auto !important;
}

.ui.segment{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*Quill Text editor*/

.ql-editor {
    height: 500px !important;
}

.ql-size-huge {
    font-size: 2.5em;
}

.ql-size-large {
    font-size: 1.5em;
}

.ql-size-small {
    font-size: 0.75em;
}

.ql-align-justify {
    text-align: justify;
}

.ql-align-center {
    text-align: center;
}

.ql-align-right {
    text-align: right;
}