@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Oswald');

/*Html Tag Overrides*/

table {
    color: #666;
    margin: .5vw 0;
    background: white;
    border-collapse: collapse;
    font-size: .9vw;
    max-width: 100%;
    box-shadow: .1vw .1vw 9px whitesmoke;
}


table td {
    padding: 1vw 1.5vw;
}

table tr {
    vertical-align: top;
    text-align: left;
    transition: all .2s ease;
    border-bottom: 2px solid whitesmoke;
    border-top: 2px solid whitesmoke;
}

tbody tr:first-child {
    font-size: 0.8vw;
    border: none;
    font-weight: bold;
    border-radius: 10% 0%;
    background: white;
    color: #37474F;
    font-family: 'Source Sans Pro', sans-serif;
}

/*tbody tr:first-child td {*/

/*    padding: 0;*/

/*}*/

tbody tr:first-child:hover {
    background: white;
    transform: translateX(0vw);
}

tbody tr:hover {
    transform: translateX(.5%);
    background: whitesmoke;
    transition: all .2s ease;
}

::-webkit-scrollbar {
    width: 0px;
}

html>div {
    display: none !important;
}

a {
    cursor: pointer;
    text-decoration: none;
    transition: color .15s ease-in;
}

a:hover {
    color: #a2b5bf;
    transition: color .15s ease-in;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2em;
    margin: 0;
    background: whitesmoke;
}

label {
    font-weight: 700 !important;
    text-transform: uppercase !important;
    font-size: .9rem !important;
    color: #4C4C4C !important;
    letter-spacing: .1rem !important;
}

img {
    max-width: 100%;
}

p {
    margin-bottom: 0;
    font-size: .85vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #37474F;
    font-weight: normal;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
}

/*------------------*/

/*Text Css Rules*/

.text-primary {
    color: #4c4c4c;
}

.text-muted {
    color: #ABB2B9 !important;
}

.text-danger {
    color: #C0392B !important;
}

.text-warning {
    color: #F1C40F !important;
}

.text-info {
    color: #2980B9 !important;
}

.text-sm {
    font-size: .75em;
}

.text-md {
    font-size: 1.15em;
}

.text-lg {
    font-size: 1.25em;
}

.text-xl {
    font-size: 1.35em;
}

/*------------*/

/*Button Css Rules*/

.btn {
    background-color: #bfbfbf;
    border: 1px solid #bfbfbf;
    box-sizing: border-box;
    border-radius: .2vw;
    box-shadow: 2px 2px 4px #dbdee0;
    cursor: pointer;
    color: white;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    padding: .75vw 1vw;
    transition: all .15s ease;
}

.btn-primary {
    background-color: #37474F;
    border-color: #37474F;
}

.btn-secondary {
    background-color: #808B96;
    border-color: #808B96;
}

.btn-success {
    background-color: #16A085;
    border-color: #16A085;
}

.btn-danger {
    background-color: #e91e63;
    border-color: #e91e63;
}

.btn-warning {
    background-color: #F1C40F;
    border-color: #F1C40F;
}

.btn-info {
    background-color: #2980B9;
    border-color: #2980B9;
}

.btn-outline-primary {
    background-color: transparent !important;
    border-color: #2C3E50;
    color: #2C3E50;
}

.btn-outline-secondary {
    background-color: transparent !important;
    border-color: #808B96;
    color: #808B96;
}

.btn-outline-success {
    background-color: transparent !important;
    border-color: #16A085;
    color: #16A085;
}

.btn-outline-danger {
    background-color: transparent !important;
    border-color: #e91e63;
    color: #e91e63;
}

.btn-outline-warning {
    background-color: transparent !important;
    border-color: #F1C40F;
    color: #F1C40F;
}

.btn-outline-info {
    background-color: transparent !important;
    border-color: #2980B9 !important;
    color: #2980B9 !important;
}

.btn-outline-primary:hover,
.btn-outline-secondary:hover,
.btn-outline-success:hover,
.btn-outline-danger:hover,
.btn-outline-warning:hover,
.btn-outline-info:hover {
    box-shadow: 2px 2px 1px #a9b0b4;
    transition: all .15s ease;
}

.btn-primary:hover {
    background-color: #547799;
    border-color: #547799;
}

.btn-secondary:hover {
    background-color: #a8b0b7;
    border-color: #a8b0b7;
}

.btn-success:hover {
    background-color: #1eddb7;
    border-color: #1eddb7;
}

.btn-danger:hover {
    background-color: #ee598b;
    border-color: #ee598b;
}

.btn-warning:hover {
    background-color: #f4d24b;
    border-color: #f4d24b;
}

.btn-info:hover {
    background-color: #56a5d9;
    border-color: #56a5d9;
}

.btn-xs {
    padding: .25vw .5vw;
}

.btn-sm {
    padding: .5vw .75vw;
}

.btn-md {
    padding: 1vw 1.25vw;
}

.btn-lg {
    padding: 1.25vw 1.75vw;
}

.btn-file {
    margin-right: .5vw;
}

/*--------------*/

.full-height {
    height: -webkit-fill-available;
}

.img-bg {
    background-size: cover;
    background-position: center;
}

/*Quill Text editor*/

.ql-editor {
    height: 500px !important;
}

.ql-size-huge {
    font-size: 2.5em;
}

.ql-size-large {
    font-size: 1.5em;
}

.ql-size-small {
    font-size: 0.75em;
}

.ql-align-justify {
    text-align: justify;
}

.ql-align-center {
    text-align: center;
}

.ql-align-right {
    text-align: right;
}

blockquote {
    border-left: 4px solid #ccc;
    padding-left: .5vw;
    margin: .3vw 0;
}

/*---------*/

/*Semantic UI Override*/

.ui.dropdown,
.ui.checkbox,
.ui.input {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.ui.fullscreen.modal {
    left: auto !important;
}

/*---------*/

.back-top-btn {
    position: fixed;
    box-shadow: none;
    right: 1vw;
    bottom: 1vw;
    z-index: 1000;
}

.uploads-thumbnails {
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.uploads-thumbnails:hover {
    opacity: .7;
    cursor: pointer;
}

.container-thumbnails {
    display: grid;
    grid-auto-rows: 5rem;
    grid-template-columns: repeat(4, .25fr);
    margin-top: 2rem;
    width: 100%;
}

.fileExtension {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#backgroundOverlay {
    content: " ";
    background-color: #37474F;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: .6;
    transform: translateX(-100%);
    z-index: 0;
    transition: all .9s ease;
}

/*Admin Section Css Rules*/

.pagesCard {
    border: 1px solid rgba(34, 36, 38, .15);
    border-radius: .2vw;
    cursor: pointer;
    padding: .5vw;
}

.pagesCard>h4 {
    transition: transform .15s ease;
}

.pagesCard:hover>h4 {
    transform: translateX(1.5%);
    transition: transform .15s ease;
}

.section-btn {
    height: 15vw;
    margin-bottom: 2rem;
}

.section-style {
    background-color: white;
    box-shadow: 0.2vw 0.2vw 0.5vw #D4D4D4;
    padding: 1em;
}

.section-row {
    display: flex;
    height: auto;
    width: 100%;
}

.left-column {
    width: 20%;
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}

.right-column {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.media-widget {
    width: 100%;
}

.cardContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.cardOverlay {
    align-items: center;
    background-color: #e6e6e6;
    cursor: pointer;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .2s ease;
}

.cardOverlay:hover {
    background-color: #d7d7d7;
    transition: all .2s ease;
}

.cardOverlay:hover>.cardOverlayBtn {
    transform: scale(1.15);
    transition: all .2s ease;
}

.cardOverlayBtn {
    align-items: center;
    border: 2px solid white;
    flex-direction: column;
    pointer-events: none;
    display: flex;
    padding: .5vw;
    transition: all .2s ease;
}

.cardEdit {
    opacity: 0;
}

.cardEdit:hover {
    opacity: .9;
}


.fade-enter,
.fade-exit {
    transition: 0.6s ease opacity;
}

.fade-enter,
.fade-exit-active {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    z-index: 1;
}

.table-btn {
    pointer-events: none !important;
}

.navigationCard {
    background: white;
    cursor: pointer;
    word-break: break-all;
    display: inline-block;
    padding: 1vw;
    height: 100%;
    width: 100%;
    border: 1px solid whitesmoke;
    transition: background .1s ease;
}

.navigationCard:hover {
    background: whitesmoke;
    transition: background .1s ease;
}
