.home{
    align-items: center;
    position: relative;
    height: -webkit-fill-available;
    display: flex;
    justify-content: center;
    text-align: center;
}

.home-latest{
    position: fixed;
    right: 0;
    width: 400px;
}

.page-footer{
    background-color: white;
    display: flex;
    flex-direction: column;
    font-size: .85em;
    padding: 1.5vw;
    width: 100%;
}

.page-footer-block{
    background-color: whitesmoke;
    height: 5vw;
    display: flex;
    width: 75%;
}

.page-content{
    margin: 3vw 0;
    text-align: justify;
}

.page-title{
    font-weight: bold;
    font-size: 2.85em;
    border-left: .3vw solid #37474F;
    padding-left: 1vw;
    margin: 0;
}

.page-category{
    font-size: 2.25em;
    margin: 0;
}

.page-social-column{
    background: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1.5vw;
}

.btnTop {
    position: fixed;
    text-align: center;
    bottom: 20px;
    z-index: 1;
    animation-name: bounce;
    animation-duration: 400ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes bounce {
    0% {
        transform: translateY(-.2vw);
    }
    100% {
        transform: translateY(0vw);
    }
}

.active-principal-menu{
    background-color: #37474F;
    color: white;
}

.active-submenu{
    color : #a2b5bf !important;
}

.active-submenu::before{
    content: " ";
    height: 2px;
    background: white;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    z-index: 1;
}

/*Used to override the defautl behavior of button inside the quill editor*/
.table-btn {
    pointer-events: none !important;
}

/*Backgroundd overlay used by the navbar component to display over the website*/
#backgroundOverlay {
    content: " ";
    background-color: #37474F;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: .6;
    transform: translateX(-100%);
    z-index: 100;
    transition: all .9s ease;
}

/*Transition used for switcing between pages*/
.fade-enter,
.fade-exit {
    transition: 0.6s ease opacity;
}

.fade-enter,
.fade-exit-active {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    z-index: 1;
}

/*Utilies declaration*/
.img-bg {
    background-size: cover;
    background-position: center;
}

.img-sepia{
    display: block;
    cursor: pointer;
    object-fit: cover;
    filter: sepia(50%);
    width: 100%;
    height: 17.5vw;
    transition: filter .2s ease-in-out
}

.img-sepia:hover{
    filter: sepia(0);
    transition: filter .2s ease-in-out
}

.push-bot{
    margin-top: 5vw;
}

.push-top{
    transform: translateY(-10vw);
}

.news-column-card{
    background: white;
    text-align: left;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid whitesmoke;
}