.membersCard {
    background-color: white;
    height: 100%;
    display: flex;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.membersPhoto {
    object-fit: cover;
    width: 8vw;
    height: 100%;
}

.membersInfo {
    border: 1px solid rgba(34, 36, 38, .15);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    width: 60%;
}

.membersName {
    border-bottom: 2px solid whitesmoke;
}

.membersTitle {
    margin: 0;
}
